@page "/"
@inherits CancellableComponentBase
@inject IPostService PostService;
<PageTitle>Index</PageTitle>


<h1>INDEX!</h1>
<List Date="@TodaysMonthToken" />

@code {
    List<Post> Posts = new List<Post>();

    string TodaysMonthToken;

    protected override async Task OnInitializedAsync() {
        TodaysMonthToken = $"{DateTime.Now.Year}-{DateTime.Now.Month}";

        await foreach(var post in PostService.GetPostsPageAsync(0, 10, CancellationToken)) {
            Posts.Add(post);
            await InvokeAsync(StateHasChanged);
        }
    }
}
