@page "/"

@using EricJohansson.Site.Client.Components.Content
@using EricJohansson.se.Components.Lists;
@using EricJohansson.Site.Shared.Support;
@using Microsoft.AspNetCore.Components.Web;
@using Microsoft.AspNetCore.Components.Sections;

<SectionContent SectionName="Header">
    <PresentationHeader />
</SectionContent>

<PageTitle>Eric Johansson</PageTitle>

<main id="content">
    <div>
        <AppearanceList />
    </div>
    <div>
        <ThoughtList />
    </div>
</main>

<aside id="contributions">
    @*<h2>My contributions</h2>

    <h3>Nuget packages</h3>

    <h3>Extensions</h3>

    <h3>Other projects</h3>*@
</aside>

<footer>
</footer>
@code {

}
