#fullContainer {
    margin: 60px auto;
    border-radius: 5px;
    box-shadow: 0 9px 30px 5px rgba(153, 153, 153, 0.2);
    width: 1600px;
    overflow: hidden;
    padding-bottom: 2rem;
    background-color: #F7F7F7;
}

#head {
    background-color: purple;
    align-content: center;
    text-align: center;
    min-height: 300px;
}

main {
    margin-left: 10rem;
    margin-right: 10rem;
}

#headContent {
    width: 960px;
    min-height: 720px;
    padding-bottom: 2rem;
}