@inherits LayoutComponentBase

<div id="fullContainer">
    <header>
        <h1 id="head">
            Eric Johansson
        </h1>
    </header>

    @if (HeaderFragment != null)
    {
        @HeaderFragment
    }

    <CascadingValue Value="this">
        <main>
            @Body
        </main>
    </CascadingValue>
</div>



@code {
    private RenderFragment? HeaderFragment;

    public void SetHeader(RenderFragment? header)
    {
        HeaderFragment = header;

        StateHasChanged();

        Console.WriteLine("Updated header!");
    }
}
