#fullContainer {
    margin: 60px auto;
    border-radius: 5px;
    box-shadow: 0 9px 30px 5px rgba(153, 153, 153, 0.2);
    width: 1600px;
    overflow: hidden;
    padding-bottom: 2rem;
    background-color: #F7F7F7;
}

header {
    background-image: linear-gradient(to bottom right, #ec7dde, #82eda8);
    justify-content: center;
    min-height: 300px;
    display: flex;
}

#head {
    background-color: rgba(255, 255, 255, 0.6);
    width: 40rem;
    height: 6.5rem;
    margin-top: 3rem;
    border-radius: 5px;
    box-shadow: 0 9px 30px 5px rgba(153, 153, 153, 0.2);
    text-align: center;
    font-size: 62pt;
    line-height: 6.5rem;

}



main {
    margin-left: 10rem;
    margin-right: 10rem;
}

#headContent {
    width: 960px;
    min-height: 720px;
    padding-bottom: 2rem;
}
