@layout TelerikLayout
@inherits LayoutComponentBase

<div id="fullContainer">
    <section id="head">
        HEAD
    </section>

    @if (HeaderFragment != null)
    {
        @HeaderFragment
    }

    <CascadingValue Value="this">
        <main>
            @Body
        </main>
    </CascadingValue>
</div>



@code {
    private RenderFragment? HeaderFragment;

    public void SetHeader(RenderFragment? header)
    {
        HeaderFragment = header;

        StateHasChanged();

        Console.WriteLine("Updated header!");
    }
}
