@inherits LayoutComponentBase
<div class="page">
    <main class="container">
        <div class="row">
            <div class="col col-xs-6">
                @Body
            </div>
            <div class="col col-xs-6">
                Dummy
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                Dummy2
            </div>
        </div>
    </main>
</div>