.appearance {
    display: grid;
    grid-template-columns: 4fr 5rem;
    font-weight: bold;
    border-left: .75rem solid;
    border-radius: 5px;
    box-shadow: 0 9px 30px 5px rgba(153, 153, 153, 0.2);
    position: relative;
    padding: .7rem .7rem .7rem 1rem;
    min-height: 5rem;
}

.apperanceDescription {
    font-weight: normal;
}

.appearanceImage {
    width: 5rem;
    height: 5rem;
    margin-right: 0;
}