@using Microsoft.AspNetCore.Components.Sections;
@inherits LayoutComponentBase

@inject NavigationManager _navigationManager;

<div id="fullContainer">
    <header>
        <h1 id="head">
            @if (_navigationManager.ToBaseRelativePath(_navigationManager.Uri) == "")
            {
                <text>Eric Johansson</text>
            }
            else
            {
                <a href="/">Eric Johansson</a>
            }
        </h1>
    </header>

    <SectionOutlet SectionName="Header" />
    <SectionContent SectionName="Header"><br /></SectionContent>
    <CascadingValue Value="this">
        <main>
            @Body
        </main>
    </CascadingValue>
</div>



@code {
}
