@namespace EricJohansson.Site.Client.Components.Content

<header id="showcase">
    <section class="presentation">
        <ul id="titles">
            <li>Developer</li>
            <li>Consultant</li>
            <li>Educator</li>
        </ul>
        <p>
            Back in 2003, I discovered .NET. Coming from a background of mostly using C++ for client- and PERL/ASP Classic for web-development, finding .NET was like seeing sunshine for the first time.
            Since then, I've been working with .NET in various forms, from ASP.NET WebForms to ASP.NET MVC, from Windows Forms to WPF, from WCF to gRPC, from SQL Server to MongoDB.
        </p>
        <p>
            Today, my day job is running a consulting firm specializing in .NET development and Azure architecture.<br />
            At other times, I run an open, inclusive and educational twitch stream helping people experience and learn .NET.
        </p>
        <ul id="socials">
            <li><a target="_blank" href="https://www.linkedin.com/in/eric-r-johansson/"><img src="/img/logos/LinkedIn.svg" /></a></li>
            <li><a target="_blank" href="https://www.github.com/thindaltv"><img src="/img/logos/Github-Octocat.svg" /></a></li>
            <li><a target="_blank" href="https://www.twitch.tv/thindal"><img src="/img/logos/Twitch.svg" /></a></li>
            <li><a target="_blank" href="https://www.twitter.com/ericjohansson/"><img src="/img/logos/Twitter-X.svg" /></a></li>
        </ul>
    </section>
    <section class="image">
        <img src="/img/profile.png" alt="Eric Johansson" style="width: 100%;" />
    </section>
</header>