@foreach (var p in Posts)
{
    <article class="post row">
        <div class="col-xs-12">
            <h2>@p.Title</h2>
            Posted on @p.Posted
            @if (p.Tags?.Any() ?? false)
            {
                <span>in @p.Tags.Aggregate((a, b) => $"{a}, {b}")</span>
            }
            <div class="articleContent">
                @p.Short
            </div>
        </div>
    </article>
}

@code {
    [Parameter, EditorRequired] public List<Post> Posts { get; set; } = default!;
}
