@page "/"

@using EricJohansson.Site.Shared.Blazor;
@using Ericjohansson.Site.Client.Components.Layout;
@using EricJohansson.Site.Client.Components.Content;

<LayoutSetter>
    <HeaderContent>
        <PresentationHeader />
    </HeaderContent>
</LayoutSetter>

<PageTitle>Eric Johansson</PageTitle>

<main id="content">
    <div>
        <Appearances />
    </div>
    <div>
        <ThoughtList />
    </div>
</main>

<aside id="contributions">
    @*<h2>My contributions</h2>

    <h3>Nuget packages</h3>

    <h3>Extensions</h3>

    <h3>Other projects</h3>*@
</aside>

<footer>
</footer>
@code {

}
